<mat-card id="container-general" class="flex flex-row "> 
     <div id="container-a" class="grid grid-cols-3">
      <button mat-button type="button">1</button>
      <button mat-button type="button">2</button>
      <button mat-button type="button">3</button>
      <button mat-button type="button">4</button>
      <button mat-button type="button">5</button>
      <button mat-button type="button">6</button>
      <button mat-button type="button">7</button>
      <button mat-button type="button">8</button>
      <button mat-button type="button">9</button>
      <button mat-button type="button">=</button>
    </div>
      <div id="container-b" class="grid grid-cols-1">
      <button mat-button type="button">+</button>
      <button mat-button type="button">-</button>
      <button mat-button type="button">*</button>
      <button mat-button type="button">/</button>
    </div>
  </mat-card>
